
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCommentLabel">Create or edit a Comment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.comment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.comment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="vm.comment.content"
                     />
        </div>

        <div class="form-group">
            <label for="field_alteration">Alteration</label>
            <select class="form-control" id="field_alteration" name="alteration" ng-model="vm.comment.alteration" ng-options="alteration as alteration.id for alteration in vm.alterations track by alteration.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_gene">Gene</label>
            <select class="form-control" id="field_gene" name="gene" ng-model="vm.comment.gene" ng-options="gene as gene.id for gene in vm.genes track by gene.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_clinicalTrial">Clinical Trial</label>
            <select class="form-control" id="field_clinicalTrial" name="clinicalTrial" ng-model="vm.comment.clinicalTrial" ng-options="clinicalTrial as clinicalTrial.id for clinicalTrial in vm.clinicaltrials track by clinicalTrial.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_article">Article</label>
            <select class="form-control" id="field_article" name="article" ng-model="vm.comment.article" ng-options="article as article.id for article in vm.articles track by article.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_drug">Drug</label>
            <select class="form-control" id="field_drug" name="drug" ng-model="vm.comment.drug" ng-options="drug as drug.id for drug in vm.drugs track by drug.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_evidence">Evidence</label>
            <select class="form-control" id="field_evidence" name="evidence" ng-model="vm.comment.evidence" ng-options="evidence as evidence.id for evidence in vm.evidences track by evidence.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_treatment">Treatment</label>
            <select class="form-control" id="field_treatment" name="treatment" ng-model="vm.comment.treatment" ng-options="treatment as treatment.id for treatment in vm.treatments track by treatment.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_timeStamp">Time Stamp</label>
            <select class="form-control" id="field_timeStamp" name="timeStamp" ng-model="vm.comment.timeStamp" ng-options="timeStamp as timeStamp.id for timeStamp in vm.timestamps | orderBy:'id' track by timeStamp.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
