
<div>
    <h2><span>Evidence</span> {{vm.evidence.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Evidence Type</span></dt>
        <dd>
            <span>{{vm.evidence.evidenceType}}</span>
        </dd>
        <dt><span>Level Of Evidence</span></dt>
        <dd>
            <span>{{vm.evidence.levelOfEvidence}}</span>
        </dd>
        <dt><span>Known Effect</span></dt>
        <dd>
            <span>{{vm.evidence.knownEffect}}</span>
        </dd>
        <dt><span>Cancer Type</span></dt>
        <dd>
            <span>{{vm.evidence.cancerType}}</span>
        </dd>
        <dt><span>Subtype</span></dt>
        <dd>
            <span>{{vm.evidence.subtype}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.evidence.description}}</span>
        </dd>
        <dt><span>Additional Info</span></dt>
        <dd>
            <span>{{vm.evidence.additionalInfo}}</span>
        </dd>
        <dt><span>Last Edit</span></dt>
        <dd>
            <span>{{vm.evidence.lastEdit | date:'medium'}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{vm.evidence.status}}</span>
        </dd>
        <dt><span>Gene</span></dt>
        <dd>
            <a ui-sref="gene-detail({id:vm.evidence.gene.id})">{{vm.evidence.gene.id}}</a>
        </dd>
        <dt><span>Alterations</span></dt>
        <dd>
            <span ng-repeat="alterations in vm.evidence.alterations">
                <a ui-sref="alteration-detail({id: alterations.id})">{{alterations.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Treatments</span></dt>
        <dd>
            <span ng-repeat="treatments in vm.evidence.treatments">
                <a ui-sref="treatment-detail({id: treatments.id})">{{treatments.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Articles</span></dt>
        <dd>
            <span ng-repeat="articles in vm.evidence.articles">
                <a ui-sref="article-detail({id: articles.id})">{{articles.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Clinical Trials</span></dt>
        <dd>
            <span ng-repeat="clinicalTrials in vm.evidence.clinicalTrials">
                <a ui-sref="clinical-trial-detail({id: clinicalTrials.id})">{{clinicalTrials.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Nccn Guidelines</span></dt>
        <dd>
            <span ng-repeat="nccnGuidelines in vm.evidence.nccnGuidelines">
                <a ui-sref="nccn-guideline-detail({id: nccnGuidelines.id})">{{nccnGuidelines.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="evidence-detail.edit({id:vm.evidence.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
